@import '../../asserts/css/base';

.my-focused-container {
	.second-header-icon {
		width: 20px;
		height: 20px;
		position: relative;
		top: 3px;
		left: 2px;
	}

	.second-header {
		color: $primary-color-3;
		font-size: 16px;
		margin-left: 5px;
	}

	.table-body {
		overflow: scroll;
	}
	
	.table-header {
		span {
			height: 28px;
			line-height: 28px;
			text-align: center;
			border: 0.02rem solid $gray-color-2;
			border-left: 0;
			padding: 8px 0;
			color: $primary-color-4;
			white-space: pre-wrap;
    		word-wrap: break-word;
		}

		span:last-child {
			border-right: 0;
		}
	}

	.chicken-item {
		span {
			height: 24px;
			line-height: 24px;
			text-align: center;
			border: 0.02rem solid $gray-color-2;
			border-left: 0;
			border-top: 0;
			padding: 5px 0;
			color: $gray-color-5;
			font-size: 14px;
		}

		span:last-child {
			border-right: 0;
		}

		.more {
			display: flex;
			justify-content: space-around;

			a {
				color: $primary-color-3;
			}
		}

		.more-icon {
			margin: 3px 5px 0 5px;
		}
	}
}